<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Dongduo</title>
        {% include "css.html" %}
    </head>

    <body>

        <script data-main="{{ STATIC_URL }}scripts/init.js"
                src="{{ STATIC_URL }}scripts/libs/require.js">
        </script>

        <div id="top-navigation" class="col-lg-12">
            {% include "top-navigation.html" %}
        </div>

        <div id="left-container" class="col-lg-3">
        </div>

        <div id="body-container" class="col-lg-6">
        </div>

        <div id="right-container" class="col-lg-3">
        </div>

        <div id="bottom-navigation" class="col-lg-12">
        </div>

    </body>

</html>
